.store {
position: relative;
border: 5px;
background-color: aqua;
border-color: black;
}

.stock {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 99;
  padding-top: 10px;
  padding-bottom: 10px;
}

#store-container{
  display: flex;
  flex-direction: column;
}

#stock-container{
  width: 300px;
  position: relative;
  padding-left: 100px;
  
}